/*body {font-size: 24px}
p {font-size: 120%}
h1 {font-size: 250%}
*/

#viral {
  animation: blink-animation 1s steps(2, start) 2;
  font-size: calc(10vw + 10vh);
  font-family: Courier;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes blink-animation {
  to {
    visibility: collapse;;
  }
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

#photo_link {
  /*position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;*/
  overflow: auto;
  width: 100%;
  height: auto;
}

  .c{
    text-align: center;
  }

#timer {
  font-family: courier;
  /*justify-content: center;*/
  /*align-items: center;*/
  font-size: calc(4vw + 4vh);
}

@media print {
    .pagebreak { page-break-after: always; }
    .no-print, .no-print * {display: none !important;}
}

.striped-border {
    border: 1px dashed #000;
    width: 95%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
